{
  "extends": [
    "airbnb-base"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "jest": false,
    "expect": false,
    "describe": false,
    "test": false,
    "beforeAll": false,
    "beforeEach": false,
    "afterAll": false,
    "afterEach": false
  }
}
